.auth-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 87px);
  background-size: cover;
  justify-content: center;
  align-items: center;
  .signin-wrapper {
    display: flex;
    height: 180px;
    width: 300px;
    transform: translateY(-150px);
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: 2px solid black;
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .signin-email {
      @include auth-inputs;
    }
    .signin-password {
      @include auth-inputs;
    }
    .login-button {
      background-color: $blue-button;
      color: white;
      padding: 5px;
      font-size: 25px;
      border-radius: 8px;
      transition: 0.5s ease-in-out;
      &:hover {
        background-color: $hover-button-blue;
      }
    }
  }
}
