.form-input {
    display: grid;
    grid-template-rows: 1fr;
    
    width: 100%;
    &__label {
        grid-row: 1/-1;
        grid-column: 1/2;
        font-size: 17px; 
    }
    &__input {
        grid-row: 1/-1;
        grid-column: 2/3;
        height: 30px;  


        width: 75%;
        border: 1px solid black;
        border-radius: 5px;
        padding-left: 15px;
        font-size: 17px;
        font-weight: 500;
    }
}

