.sign-up-form {
  display: flex;
  flex-direction: column;
  .sign-up-name,
  .sign-up-email,
  .sign-up-password,
  .sign-up-confirm-password {
    @include sign-up-inputs;
  }
  .sign-up-button {
    margin-top: 7.5px;
    width: 35%;
    justify-self: center;
    align-self: center;
    background-color: $blue-button;
    color: white;
    border-radius: 8px;
    &:focus {
      outline: none;
    }
    transition: 0.5s ease-in-out;
    &:hover {
      background-color: $hover-button-blue;
    }
  }
}
