.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.spinner {
  color: $hover-button-blue;
  font-size: 7em;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
